.users-section{
  margin-bottom: auto;
  padding: 1rem;
  background: rgb(55, 14, 109);
  color: rgb(202, 238, 221);
  max-height: 10rem;
  overflow-y: auto;
}

.users-list{
  list-style: none;
  text-transform: capitalize;
}

.users-section h2{
  font-size: 1.3rem;
  padding-bottom: .7rem;
}